# fly.toml app configuration file generated for skillswap-backend on 2025-12-07T19:31:15+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'skillswap-backend'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[checks]
[checks.httpcheck]
port = 8080
type = "http"
path = "/actuator/health"
interval = "15s"
timeout = "2s"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
