server:
  port: 8081

spring:
  application:
    name: api-gateway

  config:
    import: "optional:file:../.env[.properties]"

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/skillswap-dev}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/skillswap-dev}/protocol/openid-connect/certs}

  cloud:
    gateway:
      server:
        webflux:
          forwarded:
            enabled: true

          globalcors:
            add-to-simple-url-handler-mapping: true
            cors-configurations:
              "[/**]":
                allowed-origins:
                  - "http://localhost:5173"
                  - "http://localhost:3000"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                allowed-headers:
                  - Authorization
                  - Content-Type
                  - Accept
                  - Origin
                exposed-headers:
                  - Location
                allow-credentials: false

          routes:
            - id: user-service
              uri: ${USER_SERVICE_URL:http://localhost:8082}
              predicates:
                - Path=/api/users/**,/api/gdpr/**,/api/skills/**
              filters:
                - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE

            - id: message-service
              uri: ${MESSAGE_SERVICE_URL:http://localhost:8083}
              predicates:
                - Path=/api/messages/**,/api/conversations/**
              filters:
                - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
