server:
  port: 8083

spring:
  application:
    name: message-service

  config:
    import: "optional:file:../.env[.properties]"

  datasource:
    url: ${SWAP_DB_URL}
    username: ${SWAP_DB_USERNAME}
    password: ${SWAP_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.format_sql: true
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/skillswap-dev}
          jwk-set-uri: ${KEYCLOAK_JWK_SET_URI:${KEYCLOAK_ISSUER_URI:http://localhost:8080/realms/skillswap-dev}/protocol/openid-connect/certs}

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:guest}
    password: ${RABBIT_PASSWORD:guest}

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

app:
  messaging:
    exchange: skillswap.events
    routingKeyMessageCreated: message.created