server:
  port: 8080

spring:
  application:
    name: skillswap
  datasource:
    # Use env if present, else default to service name 'postgres' (works in Compose & K8s)
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/skillswap}
    username: ${SPRING_DATASOURCE_USERNAME:${POSTGRES_USER:skillswap}}
    password: ${SPRING_DATASOURCE_PASSWORD:${POSTGRES_PASSWORD:skillswap}}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc.time_zone: UTC
        format_sql: true
  flyway:
    enabled: ${SPRING_FLYWAY_ENABLED:true}
    locations: classpath:db/migration
  security:
    user:
      name: dev
      password: devpass
      roles: ADMIN

management:
  endpoints:
    web:
      exposure:
        include: [health, info, prometheus]